/* Site background color */
body { background-color: #ffffff; color: #777777; }
 
/* Lists */
ul,
li,
ul li.collapsed,
ul li.expanded,
ul li.leaf {
 color: #777777;
}
 
/* Site titles */
h1, h2 { color: #333333; }
 
/* Main content area links */
#section-content a:link,
#section-content a:visited,
#section-content a:hover,
#section-content a:focus,
#section-content a:active { color: #888888; }
 
/* Main menu links */
#site-menu ul li a { color: #666666; }
 
/* Main menu active links */
#site-menu ul li.active-trail a,
#site-menu ul li a.active { background: #eeeeee; color: #000000; }

.back-to-login .login-account, #section-content .create-account a {
  color: white;
}
