/* This file will hold styles that are loaded using the same media query as the wide grid. */
/**********************************************
* 3.2. Zone content
**********************************************/
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */ }
  #block-views-demo-content-slideshow-block-1 .bx-wrapper,
  #block-views-demo-content-slideshow-block-1 .bx-wrapper .bx-window {
    height: 838px !important;
    max-height: 838px;
    min-width: 1180px; }
  #block-views-demo-content-slideshow-block-1 .bx-wrapper ul.event-slider li {
    height: 738px;
    width: 1180px; }
    #block-views-demo-content-slideshow-block-1 .bx-wrapper ul.event-slider li img {
      overflow: hidden;
      height: 100%;
      width: 100%; }

body .container-24 {
  width: 1340px;
}
body .grid-24 {
  width: 1200px;
}
body .container-24 .grid-12 {
  width: 720px;
}

#region-sidebar-second {
  width: 280px;
}

html body.node-type-product-display article.node-product-display>div {
  width: 660px !important;
}
